logs/
logs_multi/
checkpoints/
checkpoints_1/
checkpoints_2/

checkpoints_radar_crossing/
checkpoints_star_crossing/
logs_radar_crossing/
logs_star_crossing/
evaluation/
evaluation_results/
evaluation_results_3d/
evaluation_results_cross/
evaluation_results_star/
checkpoints_multi/
eval_crossing/
eval_gui/
eval_high_maneuver/
eval_many_targets/
eval_spindle/
eval_gui/
eval_val_spindle/
eval_val_crossing/